* {
    box-sizing: border-box;
    display: inline-block;
}

html {
    background-color: #614F40;
}


body {
 font-family: Raleway;
 text-align: center;
 line-height: 24px;
 color: #DC4729;
 
}

.intro {

}

img{
    width: 50%;
    height: 50%;
}

.project-data{
    border: 5px solid #610F08;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.about-me{
    border: 5px solid #610F08;
    text-align: center;
    margin: 10px 20px 10px 20px;
    border-radius: 15px;
    list-style: inside;
    
    padding: 30px 60px 30px 60px;
    
}

.extra {
    /* border: 5px solid #610F08; */
    text-align: center;
    margin: 10px 20px 10px 20px;
    border-radius: 15px;
    list-style: inside;
    
    padding: 30px 60px 30px 60px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {

}

h3 {

}

p{
   font-size: 16px;
   display: flex;
   justify-content: left;
   padding-left: 30px;
   padding-right: 30px;
}

ul, ol{
    margin-top: 5px;
}

ul li{
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

ol li{
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    
}

footer {
    display: inline-block;
    padding-top: 30px;
}

span{
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}