* {
    box-sizing: border-box;
}

html {
    background-color: #614F40;
}


body {
 font-family: Raleway;
 text-align: center;
 line-height: 24px;
 color: #DC4729;
 
}

.intro {

}

.project-data{
    border: 5px solid #610F08;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.about-me{
    border: 5px solid #610F08;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.extra {
    border: 5px solid #610F08;
    text-align: center;
    
    margin: auto;
    border-radius: 15px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {

}

h3 {

}

p{
   font-size: 16px;
}