* 
/* head, title, link, meta, style, script {
	display: none;
} */

head {
    display: none;
}

/* {
    box-sizing: border-box;
    display: inline-block;
} */

html {
    background-color: whitesmoke;
}

header {
    position: fixed;
}


body {
 
 font-family: Raleway;
 text-align: center;
 line-height: 24px;
 color: #DC4729;
 margin-left: 50px;
 margin-right: 50px;

 
}

.intro {

}

img{
    width: 50%;
    height: 50%;
}
.header-photo{
    border: 5px solid #610F08;
    border-radius: 15px;
}

.project-data{
    border: 5px solid #610F08;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px 30px 60px;
}

.app-photo{
    border: 1px solid #610F08;
    border-radius: 15px;
}

.about-me{
    border: 5px solid #610F08;
    display: flexbox;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    list-style: inside;
    width: 50%;
    
    padding: 30px 90px 30px 90px;
    
}

.extra {
    /* border: 5px solid #610F08; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    list-style: inside;
    width: 50%;
    padding: 30px 90px 30px 90px;
}

.extra p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80px;
}

.extra li {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1 {
    font-size: 75px;
    text-align: center;
    display: inline-block;
    line-height: 10px;
    margin-top: 30px;
}

.intro h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {

}

p{
   font-size: 16px;
   display: flex;
   justify-content: left;
   padding-left: 30px;
   padding-right: 30px;
}

ul, ol{
    margin-top: 5px;
}

ul li{
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

ol li{
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    
}

footer {
    display: inline-block;
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 80px;
}

span{
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (min-width: 600px) {
    h1{
        font-size: 50px;
    }

}

@media only screen and (min-width: 768px) {

    h1{
        font-size: 70px;
    }

    .project-data {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .extra {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
    body{
        
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        

    }

    .header-photo {
        margin-left: 80px;
    }

    .about-me {
        margin-top: 50px;
        margin-botton: 50px;
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 90%;
       
    }

    .about-me p {
        display: inline;
        
    }

    h1{
      
    font-size: 40px;
    margin-left: 80px;
    word-spacing: 10px;
    line-height: 5;
    letter-spacing: none;
    display: inline-block;
    line-height: 10px;
    margin-top: 30px;
    }

    .project-data {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .extra {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .intro h2 {
        font-size: 20px;
        margin-left: 80px;
    }

    .about-me li{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
  }